ion-img{
    display: block;
  margin: 0 auto;   
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}
ion-label {
  font-family: "Inter", "Segoe UI", Roboto, Arial, sans-serif !important;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
