services:
  api:
    image: gastonbaranov9/proyecto-api:foto-fix
    environment:
      - FASTIFY_SECRET=${FASTIFY_SECRET}
      - PGHOST=postgres
      - PGPASSWORD=${PGPASSWORD}
      - PGPORT=${PGPORT}
      - PGUSER=${PGUSER}
      - PGDATABASE=${PGDATABASE}
      - NODE_ENV=production
    networks:
      - raul_silva_net
  proxy:
    image: nginx:alpine
    restart: always
    ports:
      - 80:80
      - 443:443
    environment:
      - REMOTE_HOST=${REMOTE_HOST}
    depends_on:
      - api
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - certbot:/var/www/certbot
      - ./proxy/https.conf.template:/etc/nginx/templates/default.conf.template
    networks:
      - raul_silva_net
  front:
    image: ${DOCKER_USER}/front
    networks:
      - raul_silva_net
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    volumes:
      - raul_silva_db:/var/lib/postgresql/data
      - ./api/db:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"
    networks:
      - raul_silva_net
  # certbot:
  #   image: certbot/certbot
  #   container_name: certbot
  #   command: "certonly --webroot -w /var/www/certbot --email jorge.melnik@ucu.edu.uy --agree-tos --no-eff-email -d ${REMOTE_HOST}"
  #   environment:
  #     - REMOTE_HOST=${REMOTE_HOST}
  #   volumes:
  #     - certs:/etc/letsencrypt
  #     - certbot:/var/www/certbot
  #   depends_on:
  #     - proxy
volumes:
  certs:
  certbot:
  raul_silva_db:

networks:
  raul_silva_net:
    driver: bridge
