<ion-content class="ion-padding">
    <ion-toolbar>
  <ion-buttons slot="start" color="primary">
    <ion-back-button default-href="#" (click)="irAtras()" color="primary"  ></ion-back-button>
     </ion-buttons>
</ion-toolbar>
 
  <ion-card>
    <ion-card-content>
      <h2>Editar intervalo de diámetros</h2>

      @if (this.intervaloResource.hasValue()) {
      <app-intervalo-diam-form
        [intervaloDiametro]="this.intervaloResource.value()!"
        (saved)="this.handleEdit($event)"
      />
      } @else if (this.intervaloResource.isLoading()) {
      <ion-spinner></ion-spinner>
      } @else {
      <p>No se encontró el intervalo de diámetro</p>
      }

      <ion-button
        fill="outline"
        expand="block"
        (click)="this.intervaloResource.reload()"
        [disabled]="this.disabled()"
      >
        RECARGAR
      </ion-button>

      @if (this.errorMessage()) {
      <div class="error-message">
        {{ this.errorMessage() }}
      </div>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
