
<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button default-href="#" (click)="irAtras()" color="primary"  ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card>
    <ion-card-content>
      <h2>Crear un nuevo nivel de aporte</h2>

      <app-aportes-form
        [nivelAporte]="this.nivelAp()"
        (saved)="guardarIntervaloLit($event)"
      ></app-aportes-form>
      @if (errorMessage()) {
      <p class="error">
        {{ errorMessage() }}
      </p>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
